.information{
    font-family: monospace;
    text-align: center;
    background-color: #7197a4;
    margin:30px 100px 30px 100px;
    border-color: #b1bbc7;
    border-width: 5px;
    border-style: dotted;
    border-radius: 100px;
}
.text1{
    columns: 2;
    
}
.me{
    border-radius: 50%;
    max-width: 280px;
    max-height: 280px;
    overflow: hidden;
    transition: all 0.5s;
    width: 100%;
   
}
.me:hover {
    transform: scale(1.2);
  }
.text2{
    text-align: left;
    -webkit-column-break-before: always;
}

.icon {
    transition: all 0.5s;
    width: 60px;
    height: 60px;
  }
.icon:hover {
    transform: scale(1.3);
  }
.text3{
    font-size: 50px;
}
.text4{

    font-size: 44px;
}
.text5{
    text-shadow:gray 5px 4px;
    font-size: 28px;
}
